/* --- CSS start ---*/
html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  width: 100%;
  position: relative;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit;
  line-height: 1; }

img {
  width: 100%;
  vertical-align: bottom; }

a {
  text-decoration: none; }

ul,
ol,
li {
  list-style: none; }

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
div,
address,
iframe,
canvas,
hr,
textarea {
  display: block; }

textarea {
  resize: vertical;
  overflow: hidden;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0; }

input,
button,
select {
  vertical-align: middle;
  border-radius: 0;
  box-sizing: border-box;
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  cursor: pointer;
  white-space: normal;
  outline: 0;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none; }

button,
input[type="reset"],
input[type="button"],
input[type="submit"],
input[type="checkbox"],
input[type="radio"],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: ""; }

select::-ms-expand {
  display: none; }

table {
  border-collapse: collapse; }

.fstSeg {
  padding: 6.5rem 0 10rem;
  background-color: #ffff9d;
  color: #222222; }
  .fstSeg a {
    color: #222222; }

.secSeg {
  padding: 10rem 0;
  background-color: #222222;
  color: #ffff9d; }
  .secSeg a {
    color: #ffff9d; }

body {
  font-family: aktiv-grotesk-extended, dnp-shuei-gothic-kin-std, sans-serif; }

.optima {
  font-family: Optima, sans-serif; }

.header {
  color: red; }

.fstSeg {
  position: relative; }
  .fstSeg__sideTxt {
    position: absolute;
    display: inline-block;
    font-size: 8px;
    top: 400px; }
  .fstSeg .left {
    left: 3%;
    transform-origin: left center;
    transform: rotate(-90deg); }
  .fstSeg .right {
    right: 3%;
    transform-origin: right center;
    transform: rotate(90deg); }

.fv__img {
  width: calc(320 / 414 * 100vw);
  margin: 0 auto; }

.fv__ttl {
  position: relative;
  top: -24rem;
  width: 90%;
  margin: 0 auto; }
  .fv__ttl--name {
    font-size: calc(70 / 414 * 100vw);
    line-height: 1.16;
    letter-spacing: 12px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 7px; }
  .fv__ttl--desc {
    font-size: calc(12 / 414 * 100vw);
    text-align: center; }
