// 要素のマスキング
.maskBlock {
  display: inline-block;
  overflow: hidden;
  height: auto;
}

// マウス制御
body {
  cursor: none;
}
.cursor,
.follower {
  // border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
a {
  cursor: none;
}

.cursor {
  // width: 8px;
  // height: 8px;
  // background-color: #000;
  z-index: 1001;
  // width: 0.3em;
  // height: 3em;
}
.mouse {
  position: relative;
}

.follower {
  width: 12.7rem;
  height: 12.7rem;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // width: 40px;
  // height: 40px;
  // background-color: rgba(#fdfe00, 0.5);
  z-index: 1000;
  transition: transform ease 0.3s;
  text-align: center;
  transform: scale(1);
  transform-origin: 50% 50%;

  span {
    // display: inline-block;
    // font-size: 14px;
    // font-weight: bold;
  }
  &.is-active {
    transform: scale(1.3);
    // transform-origin: center center;
  }
}

.mouse__scrollDown {
  position: absolute;
  // top: 20rem;
  // right: -30%;
  &--container {
    width: 100%;
    height: 100%;
    position: relative;
    img {
      animation: rotation 10s linear infinite;
    }
    p {
      @include absCenter;
      display: inline-block;
    }
  }
  &--arrow {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    position: relative;
    top: -0.8rem;
    left: 0.2rem;
    width: 0.3em;
    transition: all 0.3s ease-out;
    height: 3em;
    background: currentColor;

    // transform-origin: 50% 50%;
    &::before {
      content: '';
      opacity: 1;
      transition: all 0.3s ease-out;
      width: 2.25em;
      height: 2.25em;
      border: 0.3em solid currentColor;
      border-left: 0;
      border-bottom: 0;
      box-sizing: border-box;
      transform: rotate(135deg);
      position: absolute;
      left: -0.89em;
      bottom: 0.2rem;
      margin: auto;
    }
  }
}
