//レイアウト or ブロックの共通設定
.fstSeg {
  padding: 6.5rem 0 10rem;
  background-color: $color-main;
  color: $color-sub;
  a {
    color: $color-sub;
  }
}
.secSeg {
  padding: 10rem 0;
  background-color: $color-sub;
  color: $color-main;
  a {
    color: $color-main;
  }
}
//テキスト共通設定。
body {
  font-family: aktiv-grotesk-extended, dnp-shuei-gothic-kin-std, sans-serif;
}

.optima {
  font-family: Optima, sans-serif;
}
