//レイアウト or ブロックの共通設定
.wrapper {
  width: 100%;
  overflow: hidden;
}
.fstSeg {
  padding: 6.5rem 0 10rem;
  background-color: $color-main;
  color: $color-sub;
  @include respond(tab-port) {
    padding: 10rem 0 20rem;
  }
  a {
    color: $color-sub;
  }
}
.secSeg {
  padding: 15rem 0 10rem;
  background-color: $color-sub;
  color: $color-main;
  background-blend-mode: soft-light;
  @include respond(tab-port) {
    padding: 12rem 0 13rem;
  }
  a {
    color: $color-main;
  }
}
//テキスト共通設定。
body {
  font-family: aktiv-grotesk-extended, dnp-shuei-gothic-kin-std, sans-serif;
}

.optima {
  font-family: Optima, sans-serif;
  font-weight: 100;
}
.fsz-1 {
  font-size: 1.5rem;
  @include respond(tab-port) {
    font-size: 1.8rem;
  }
}
.fsz-2 {
  font-size: 1.4rem;
  @include respond(tab-port) {
    font-size: 1.6rem;
  }
}

//スマホ、PCでの非表示
.onlyShowForSp {
  display: block;
  @include respond(tab-port) {
    display: none;
  }
}

.onlyShowForPc {
  display: none;
  @include respond(tab-port) {
    display: block;
  }
}

.onlyShowForMouse {
  display: none;
  @include respond(laptop) {
    display: block;
  }
}
