// The First Half
.fstSeg {
  position: relative;
  &__sideTxt {
    position: absolute;
    display: inline-block;
    font-size: 8px;
    top: 400px;
    opacity: 0.5;
  }
  .left {
    left: 3%;
    transform-origin: left center;
    transform: rotate(-90deg);
  }
  .right {
    right: 3%;
    transform-origin: right center;
    transform: rotate(90deg);
  }
}

.fv {
  position: relative;
  &__img {
    width: calc(320 / 414 * 100vw);
    margin: 0 auto 10rem;
  }
  &__ttl {
    @include absCenter;
    top: 75%;
    width: 90%;
    margin: 0 auto;
    &--name {
      font-size: calc(70 / 414 * 100vw);
      line-height: 1.16;
      letter-spacing: 12px;
      text-align: center;
      margin-bottom: 7px;
    }
    &--desc {
      font-size: calc(12 / 414 * 100vw);
      text-align: center;
    }
  }
}

.about {
  position: relative;
  @include padSpacing;
  &__ttl {
    display: inline-block;
    font-size: calc(35 / 414 * 100vw);
    letter-spacing: 2px;
    line-height: 1.34;
    margin-bottom: 7.5rem;
  }
  &__en {
    position: absolute;
    top: 9rem;
    right: calc(20 / 414 * 100vw);
    font-size: calc(61 / 414 * 100vw);
    text-align: right;
    color: $color-grey;
    opacity: 0.5;
  }
  &__txtContainer {
    margin-bottom: 4rem;
  }
  &__txt {
    font-size: calc(15 / 414 * 100vw);
    line-height: 2.3;
    font-weight: bold;
    width: calc(300 / 414 * 100vw);
    margin-left: auto;
  }
  &__txt--fst {
    margin-bottom: 4rem;
  }
  &__link {
    text-align: right;
  }
}

// The Second Half
.works {
  margin-bottom: 15rem;
  &__slider {
    width: calc(394 / 414 * 100vw);
    margin-left: auto;
  }
  &__txt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include padSpacing;
    margin-bottom: 2rem;
  }
}

.getInTouch {
  margin-bottom: 15rem;
  &__en {
    font-size: calc(50 / 414 * 100vw);
    text-align: center;
    margin-bottom: 2rem;
    text-decoration: underline;
  }
  &__jp {
    font-size: calc(15 / 414 * 100vw);
    text-align: center;
    color: #fff;
  }
}

.instagram {
  @include padSpacing;
  margin-bottom: 10rem;
  &__ttl {
    margin-bottom: 2rem;
  }
}

.footer {
  @include padSpacing;
  .pageLinks {
    width: 37rem;
    margin: 0 auto 1rem 0;
    &__lists {
      display: flex;
      flex-wrap: wrap;
    }
    &__list {
      margin-bottom: 2rem;
      &:not(:last-of-type)::after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 0.1rem;
        transform: rotateZ(25deg);
        background-color: $color-main;
      }
      &:nth-of-type(1) a,
      &:nth-of-type(4) a {
        padding-left: 0;
      }
      &--link {
        padding: 0 2rem;
        letter-spacing: 0.14em;
      }
    }
  }
  .sns {
    width: calc(181 / 414 * 100vw);
    margin-left: auto;
    &__list {
      margin-bottom: 1.7rem;
      display: flex;
      align-items: center;
      letter-spacing: 0.15em;
      &::before {
        content: '';
        display: inline-block;
        width: 4rem;
        height: 0.1rem;
        margin-right: 0.5rem;
        background-color: #fff;
      }
    }
  }
}
