// The First Half
.fstSeg {
  position: relative;
  &__sideTxt {
    position: fixed;
    display: inline-block;
    font-size: 8px;
    top: 400px;
    color: $color-sub;
    opacity: 0.5;
    z-index: 5;
    transition: color 0.3s ease;
  }
  .left {
    left: 3%;
    transform-origin: left center;
    transform: rotate(-90deg);
  }
  .right {
    right: 3%;
    transform-origin: right center;
    transform: rotate(90deg);
  }
}

.fv {
  position: relative;
  margin-bottom: 10rem;
  @include respond(tab-port) {
    margin-bottom: 25rem;
  }
  &__img {
    // position: relative;
    width: calc(320 / 414 * 100vw);
    margin: 0 auto;
    // overflow: hidden;
    @include respond(tab-port) {
      width: 600px;
      position: relative;
    }
    &--container {
      overflow: hidden;
      position: relative;
      width: calc(320 / 414 * 100vw);
      @include respond(tab-port) {
        width: 600px;
      }
    }
    &--innerName {
      width: 95vw;
      @include absCenter;
      top: 73.5%;
      z-index: 3;
      font-size: calc(70 / 414 * 100vw);
      line-height: 1.16;
      letter-spacing: 12px;
      text-align: center;
      margin-bottom: 7px;
      @include respond(tab-port) {
        font-size: calc(130 / 1366 * 100vw);
        top: 56.5%;
        // left: 53%;
        span {
          display: inline;
        }
      }
      // @include respond(desktop) {
      //   // left: 50%;
      //   font-size: 14rem;
      // }
    }
  }
  &__ttl {
    @include absCenter;
    top: 75%;
    width: 95vw;
    margin: 0 auto;
    @include respond(tab-port) {
      width: 95%;
      top: 58%;
    }
    &--name {
      font-size: calc(70 / 414 * 100vw);
      line-height: 1.16;
      letter-spacing: 12px;
      text-align: center;
      margin-bottom: 7px;
      color: $color-grey;
      z-index: 4;
      @include respond(tab-port) {
        font-size: calc(130 / 1366 * 100vw);
        span {
          display: inline;
        }
      }
      // @include respond(desktop) {
      //   font-size: 14rem;
      // }
    }
    &--desc {
      font-size: calc(12 / 414 * 100vw);
      text-align: center;
      @include respond(tab-port) {
        font-size: 1.8rem;
      }
    }
  }
  // &__scrollDown {
  //   position: absolute;
  //   top: 20rem;
  //   right: -30%;
  //   &--container {
  //     width: 12.7rem;
  //     height: 12.7rem;
  //     position: relative;
  //     img {
  //       animation: rotation 10s linear infinite;
  //     }
  //     p {
  //       @include absCenter;
  //       display: inline-block;
  //     }
  //   }
  //   &--arrow {
  //     display: inline-block;
  //     vertical-align: middle;
  //     color: #333;
  //     line-height: 1;
  //     position: relative;
  //     width: 0.3em;
  //     height: 3em;
  //     background: currentColor;
  //     &::before {
  //       content: '';
  //       width: 2.25em;
  //       height: 2.25em;
  //       border: 0.3em solid currentColor;
  //       border-left: 0;
  //       border-bottom: 0;
  //       box-sizing: border-box;
  //       transform: rotate(135deg);
  //       position: absolute;
  //       left: -0.875em;
  //       bottom: 0;
  //       margin: auto;
  //     }
  //   }
  // }
}

.about {
  position: relative;
  @include padSpacing;
  @include respond(tab-port) {
    max-width: 100rem;
    margin: 0 auto;
    padding: 0;
  }
  .maskBlock {
    margin-bottom: 7.5rem;
  }
  &__ttl {
    display: inline-block;
    font-size: calc(35 / 414 * 100vw);
    letter-spacing: 2px;
    line-height: 1.34;
    // margin-bottom: 7.5rem;
    @include respond(tab-port) {
      font-size: 6rem;
    }
  }
  &__en {
    position: absolute;
    top: 9rem;
    right: calc(20 / 414 * 100vw);
    font-size: calc(61 / 414 * 100vw);
    text-align: right;
    color: $color-grey;
    opacity: 0.5;
    @include respond(tab-port) {
      font-size: 12rem;
      top: 4.8rem;
    }
  }
  &__txtContainer {
    margin-bottom: 4rem;
    margin-left: auto;
    width: calc(300 / 414 * 100vw);
    @include respond(tab-port) {
      max-width: 50rem;
      margin-top: -3rem;
    }
  }
  &__txt {
    font-size: calc(15 / 414 * 100vw);
    line-height: 2.3;
    font-weight: bold;
    @include respond(tab-port) {
      font-size: 1.8rem;
      line-height: 2.7;
    }
  }
  &__txt--fst {
    margin-bottom: 4rem;
  }
  &__link {
    text-align: right;
  }
}

// The Second Half
.works {
  margin-bottom: 15rem;
  @include respond(tab-port) {
    margin-bottom: 17rem;
  }
  &__slider {
    width: calc(394 / 414 * 100vw);
    margin-left: auto;
    @include respond(tab-port) {
      width: calc(1283 / 1366 * 100vw);
    }
  }
  &__txt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include padSpacing;
    margin-bottom: 2rem;
    @include respond(tab-port) {
      margin-bottom: 3rem;
    }
  }
}

.getInTouch {
  margin-bottom: 15rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  .maskBlock {
    padding-bottom: 3rem;
  }
  &__en {
    font-size: calc(50 / 414 * 100vw);
    text-align: center;
    // margin-bottom: 2rem;
    text-decoration: underline;
    display: inline-block;
    @include respond(tab-port) {
      font-size: 12rem;
    }
  }
  &__jp {
    margin-top: -1rem;
    font-size: calc(15 / 414 * 100vw);
    text-align: center;
    color: #fff;
    @include respond(tab-port) {
      font-size: 1.8rem;
    }
  }
}

.instagram {
  @include padSpacing;
  margin-bottom: 10rem;
  &__ttl {
    margin-bottom: 2rem;
    @include respond(tab-port) {
      margin-bottom: 3rem;
    }
  }
}

.footer {
  @include padSpacing;
  @include respond(tab-port) {
    display: flex;
  }
  .pageLinks {
    width: 37rem;
    margin: 0 auto 1rem 0;
    @include respond(tab-port) {
      width: 62rem;
    }
    &__lists {
      display: flex;
      flex-wrap: wrap;
    }
    &__list {
      margin-bottom: 2rem;
      &:not(:last-of-type)::after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 0.1rem;
        transform: rotateZ(25deg);
        background-color: $color-main;
      }
      &:nth-of-type(1) a {
        padding-left: 0;
      }
      @include respond(tab-port-sp) {
        &:nth-of-type(1) a,
        &:nth-of-type(4) a {
          padding-left: 0;
        }
      }

      &--link {
        padding: 0 2rem;
        letter-spacing: 0.14em;
      }
    }
  }
  .sns {
    width: calc(181 / 414 * 100vw);
    margin-left: auto;
    @include respond(tab-port) {
      width: 20rem;
    }
    &__list {
      margin-bottom: 1.7rem;
      display: flex;
      align-items: center;
      letter-spacing: 0.15em;
      &::before {
        content: '';
        display: inline-block;
        width: 4rem;
        height: 0.1rem;
        margin-right: 0.5rem;
        background-color: #fff;
      }
    }
  }
}
.instagram__imgs {
  width: 100%;
}
.insta_list {
  width: 100%;
  height: 60rem;
  // float: left;
  // display: flex;
  // flex-wrap: wrap;
  // height: auto;
  // &::after {
  //   content: '';
  //   display: block;
  //   clear: both;
  // }
}
.insta_brick {
  float: left;
  width: calc(100% / 7);
  // height: calc(100% / 7);
  // float: left;
  // width: 80px;
  // height: 60px;
  // &::after {
  //   content: '';
  //   display: block;
  //   clear: both;
  // }
  img {
    display: block;
    width: 100%;
  }
}
.insta_brick-wide {
  width: calc(100% / 3.5);
  // float: left;
  // width: 80px;
  // height: 60px;
  img {
    display: block;
    width: 100%;
  }
}
