.humbIconColor {
  background-color: $color-grey;
}

.humbBarUpMove {
  animation: humbBarUpMove 0.8s ease-in forwards;
}
.humbBarUpMoveOff {
  animation: humbBarUpMove 0.8s ease-in;
  animation-direction: alternate-reverse;
}
.humbBarDownMove {
  animation: humbBarDownMove 0.8s ease-in forwards;
  // animation-direction: alternate-reverse;
}

@keyframes humbBarUpMove {
  0% {
    top: 3rem;
    transform: rotateZ(0);
  }
  50% {
    top: 3.3rem;
    transform: rotateZ(0);
  }
  100% {
    top: 3.3rem;
    transform: rotateZ(45deg);
  }
}

@keyframes humbBarDownMove {
  0% {
    top: 3.6rem;
    transform: rotateZ(0);
  }
  50% {
    top: 3.2rem;
    transform: rotateZ(0);
  }
  100% {
    top: 3.2rem;
    transform: rotateZ(-45deg);
  }
}

.humbOff {
  transform: translateX(-100%);
  transition: transform 0.4s $easeInOutExpo;
}
.humbOn {
  transform: translateX(0);
}

.slideIn {
  opacity: 1;
  transform: translateX(0);
}

.coloring {
  color: $color-main !important;
}
.disappear {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s;
}

.block--hidden {
  // opacity: 1 !important;
  transform: translateY(15rem);
  transform-origin: bottom;
}

.showUp {
  transition: all 1.3s $easeInOutQuint;
}

.mouse__scrollDown--arrow.wayback {
  transform: rotate(180deg);

  // &::before {
  //   opacity: 0;
  //   bottom: 0.8rem;
  //   transition: all 0.3s ease;
  // }
}
// .mouse__scrollDown--arrow.test {
//   // transform: rotate(180deg);
//   // transition: all 0.3s ease-out;
//   &::before {
//     transform: rotate(-180deg);
//     opacity: 1;
//     bottom: 0.8rem;
//     transition: all 0.3s ease;
//   }
// }
